<a href="https://colab.research.google.com/github/Stray-God/My-Profile/blob/main/learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables Declaration**

In python we can declare variables 

a,b,c = 1,2,3 

where a value is 1 , b is 2 , c is 3.


where as in C it's not possible:

int a,b,c = 1,2,3 ;    ~ ERROR

int a,b,c = (1,2,3) ;   ~ a=0 , b=0 , c =3

**Key differences in assigning variables**

Int , float , str , boolean are immutable in Python 

[ below is the ex ]

In python 

a = 2
b = a
a = 4
print ( a ,b)  ~ a = 4, b = 2

In C

if we try to assign new value to same variable it prints error due to redefinition

**Nested List**

In [ ]:
l=[[[1,2],[3,4]],[[5,6],[7,8]]]
print(len(l))
print(l[0])
print(l[0][0])
print(l[0][0][0])

2
[[1, 2], [3, 4]]
[1, 2]
1

**List comprehension**

In [ ]:
#Printing cube of numbers
l=[]
for i in range(1,11):
  l.append(i**3)
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#One line code 
n=int(input())
l=[i**3 for i in range(1,n+1)]  # first expresion must
print(l)

10
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#Even numbers
#newlist = [expression for item in iterable if condition == True]
n=int(input())
l=[i for i in range (1,n+1) if i%2==0]
print(l)

10
[2, 4, 6, 8, 10]

**TUPLES**